
.ft-icon
{
  @include iconset;

}

.i-performance{
  width: 32px;
  box-sizing: content-box;
  text-align: center;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
  color:$blue;
  @include border-highlight;
}


.i-alt {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.42rem;
  width: 32px;
  font-size: 20px;


}

.i{

  &-notif{
    width: 42px;
    height: 42px;
    line-height: 175%;
    font-size: 24px;
  }

  &-pencil{
    font-size: 16px;
    color:$green;
    margin-left: -4px;
  }

  &-pump{
    font-size: 20px;
    color: $red;
    margin-left: -4px;
  }



}



$social-button-size: 3.125rem;
$social-button-border-width: 0.125rem;
$social-button-font-size: 1.5625rem;
$social-button-line-height: 2em;
$social-button-border-radius: 1.6875rem;
$social-button-transition: all 0.5s ease;
$social-button-margin: 0.25rem;

// Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;


.rounded-social-buttons {
  text-align: center;

  .social-button {

    &.facebook {
      @include social-button($social-brand-facebook, "\f09a")
    }

    &.twitter {
      @include social-button($social-brand-twitter, "\f099")
    }


    display: inline-block;
    position: relative;
    background: $white!important;
    @include border-radius;
    @include border_grey;
    box-sizing: border-box;
    color:  $grey ;
    font-size: 24px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin: 0 8px;

    &:hover,
    &:focus {
        border-color:$blue !important;
        color: $blue !important;
    }


  }
}


// Social Icons




// Social Icons
