/* CSS Document */

@import "margin";
@import "border-radius";
@import "border";
@import "padding";
@import "flex";


.label{
    color: $grey;
}

.label-primary-text{
    color: $primary-color;
}

.label-secondary-text{
    color: $grey;
}

.clear-card{
	@include clear-card;
}
.full-height{
	height: 100%;
}

.select-dropdown{
	margin:0 !important;
}

.flex-middle{
		justify-content: center!important;

	display: inline-flex!important;
	align-items: center!important;
	text-align: center!important;
	padding: 0;


}



.cancel{
	color:$red;
}


.red{

}



.overlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.25);
	z-index: 99;
}
.highlight{
	font-weight: inherit;
	color: $blue;
}


.callout{
    &.error{
        position: relative;
        margin: -1rem 0 0.5rem;
        padding: 0.25rem 1rem;
        border: 1px solid rgba(10,10,10,.10);
        border-radius: 4px;
        background-color: $red-fade;
        color: $red;
        top: -1.25rem;
        width: 100%;
        display: block;
        letter-spacing: -0.1px;
    }
}
