button{
	@include bold;
}
a{

	@include main_font;
	@include bold;
	color: $grey;
	&:hover{
		color:$blue;
	}

	&:hover{
		color:$blue;
	}
}
.button{
	min-width: 96px;
	width: auto;
	// max-width: 144px;
	@include breakpoint(sm){
		min-width: 144px;

	}
	margin: 0 8px;
	height: 40px;
	&-group{
		.button{
			margin: 0 8px;

			&:first-child{
				margin-left: 0;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}
	i{
		margin-right: 8px;
	}

	&[data-action='submit']{
		margin-top: 24px;
		margin-bottom: 24px;
	}

	&.hollow{
		background-color: $white;
		&:hover{
			background: $white
		}
	}
}

.hollow{
	border:1px solid $grey-hint ;
	color:$primary-color ;
}


.faux-button{
	min-width: 200px;
padding: 0;
@include clear-bg;
	margin: 0;
}

.button{

		span{
			@include bold;
		};

		&.success{
			color:$white;
		}


		&.secondary {

			background: $white;

				&:hover{
					background: $grey-hint
				}

				&:focus{

					background: $grey-hint
				}

				&.cancel{
					color: $red;

					&:hover{
						border-color:$grey-hint;
					}

				}

		}

		&.alternative{
		background-color: $orange;
		color:$white
		}


		&.hollow{

			&.secondary{

				&.cancel{
					color: $red;
				}

				color:$primary-color;

			}

		}



}

	.hollow.alternative{
		border-color: $orange;
		background-color: $white;
		color:$orange;
	}

ul.dropdown.menu li a i.icon{
	padding: 0;
}
	#account-settings-nav{
			padding: 0;

	}


ul[data-misc] li{
	a.button{
		max-width: 42px;
		min-width: 42px;

		text-align: center;
		padding: 0.7rem 1rem;
		margin: 0 4px;

		@include breakpoint(sm){
			max-width: unset;
			min-width: 144px;
			margin: 0 8px;
		}

		i{
			margin-left: 2px;
			margin-right:  0;
		}
	}

}

ul[data-misc] li:nth-child(3) a.button{
	min-width: 80px;

	@include breakpoint(sm){
	min-width: 144px;
	}
}

.filters-accordion{
	margin: 0;
	height: auto;
max-height: 42px;
min-height: 42px;
transition: all 400ms ease-in-out;
padding: 0 8px!important;

	a {

		color: $text-color !important;
		margin-bottom: 24px;
		    padding: 16px 8px;
	}
	&-full{
		a{
			color: $blue;
		}
		max-height: 100%;
	}
}
