#vehicle-search{
  .cell{
    padding: 0;
    }

  .large-3:nth-child(4) > label:nth-child(1){
    display: none;
    @include breakpoint(sm){
      display: block;
    }
  }
  label{
    margin-bottom: 8px;

    &:nth-child(4){
    }

  }
  select{
      margin-bottom: 24px;
      @include breakpoint(sm){
        margin-bottom: 0;
        border-radius: 0;
        border-right: none;
      }
      &[name='maker']{

      @include breakpoint(sm){
        border-radius: 4px 0 0 4px;

      }

    }
  }

  button{

    @include breakpoint(sm){
      border-radius: 0 4px 4px 0;
    }
  }

  .button{
      i{
        margin: 0;
      }
      span{

        margin-right: 12px;
        font-size: 1rem;
        top: -2px;
        position: relative;

      }
    }
}
