/* Main body related elements layout */


header.top-bar.grid-x{
    justify-content: space-between;
    position: sticky;
  	top: 0;
  	z-index: 990;


  @include breakpoint(sm) {
    justify-content: normal;
    //position: unset;
    //top: unset;
  }

}

header{
  & div:first-child{

    display: flex;
    justify-content: flex-start;
    align-items: center;

    // display: contents;
    @include breakpoint(sm) {
      display: initial;
    }
  }

  & ul[data-misc]{
    padding: 7px 0;
    margin-left: 8px;
    @include breakpoint(sm) {
      box-shadow: none;
      padding: inital;
      margin-right: unset;
    }

  }

  padding: 0;
  position: relative;
  z-index: 900;

}
a[data-responsive-toggle="main-menu"] {
  background: none;
  position: relative;
  height: 42px;
  display: inline-block;
  margin-left: 8px;
    i{

      color: $blue;
      font-size: 2rem;
      padding: 6px 8px;
      // border-left: 1px solid $grey-hint;
    }
  }


#logo{

  width: 42px;
  display: inline-block;
  padding: 12px 0;
  box-shadow: 1px 0 0 $grey-hint;
  overflow: hidden;
  margin-top: 0;
  max-width: inherit;

  @include breakpoint(sm) {
    padding: initial;
    box-shadow: none;
    width: 100%;
    margin-top: 8px;

  }


  img{

    height: 32px;
    margin-top: 0;

    @include breakpoint(sm) {
      // margin-top: 8px;

    }

    max-width: inherit;


    @include breakpoint(sm){

      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
      -ms-interpolation-mode: bicubic;

    }
  }

}
.top-bar{
  &-right{
    padding: 8px;
    margin: 0 8px 0 0;

    @include breakpoint(sm){
      margin: 0 16px 0 0;
      @include border-right;
    }
  }
  &-left{
    padding: 8px;
  }
  padding: 0 16px;


  border-bottom: 1px solid $grey-hint;



	background: $white;

	ul{
		@include clear-bg;
	}

  .is-dropdown-submenu {
    right: 0;
    left: 0;
    margin-top:6px;
    border: none;
    background: $white;
    text-align: right;
    @include floating-el-shadow;
    @include border-radius;

    }

}


//Main menu options
#main-menu{
  padding: 0;
}



ul[data-dropdown-menu]:not(.nav-user-settings){
  display: block;
  background: $white;
  padding: 16px 8px 24px;
  z-index: 1000;

  @include border-bottom ;

  @include breakpoint(sm){
    padding: unset;
    display: flex;
    border: none;
  }

  li{
    min-width: 144px;
    @include breakpoint(sm){
      text-align: center;
    }
    a{
      &.button{
      }
      &:not(.button){
        padding: 0.75rem 12px;
        margin-bottom: 24px;
        @include breakpoint(sm){
          margin-bottom: 0;

        }


      }

    }
    &:first-child{
      display: none;
    }




  }




}


.dropdown.menu a {
    line-height: 120%;

}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  display: none;
}





div[data-responsive-toggle="main-menu"]{
  width: 42px;
  display: inline-block;
  top: -11px;
  padding: 0;
  height: 40px;
  position: relative;
}


#login-form{
  background: $white;
  header{
    border:none;
  }

  .top-bar-right {
    margin-right: 0;
    border-right: none;
  }
}


.dropdown.menu > li.opens-left > .is-dropdown-submenu {
    top: 50px;
    background: $white;
    @include border;
    @include shadow;

}

.dropdown .is-dropdown-submenu a {
    padding: 1.2rem 1rem;
}


.nav-user-settings{
  box-shadow: -1px 0 0 $grey-hint;
  padding: 7px 0 7px 8px;
  @include breakpoint(sm){
    box-shadow: unset;
  }
  .has-submenu{
    margin: 0 0 0 8px;
    overflow: initial;
    box-sizing: content-box;
    @include border_grey;
    @include border-radius;
    display: block;
    width: 38px;
    height: 38px;
    @include breakpoint(sm){
      margin: 0 8px 0 0;

  	}
  }

}
