$base-size:14px;

$primary-color:#393C40;

$grey:#AFB2C1;

$blue:#2F80ED;

$grey-hint:#F4F5F7;
$orange:#F2994A;

$text-color:#424242;
$white:#ffffff;
$red:#EB5757;
$green:#1DC193;
$hard_blue:#5080E5;
$light_green:#50E592;
$warm_red:#E57450;
$black:#000;

$body:#FAFAFA;
//Media Queries
$icons:#747D88;

$medium: "(min-width: 768px)";
$success-color:#000000;
$alert-color:#000000;
$medium-gray:#000000;



$main-font:'Work Sans', sans-serif;;

$hero-image-bg: url('../images/Carro-index.png');
$large-article-header-color: $white;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
